1-create-administrators-user-group/.terraform.lock.hcl
1-create-administrators-user-group/.terraform/
1-create-administrators-user-group/terraform.tfstate
1-create-administrators-user-group/terraform.tfstate.backup
